/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	.myContainer{
	    max-width: 80%;
	    margin: 0 auto;
	}
   
	.swiper-mob{
		display: none;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:hover .switch-title:after {
	     background: #005470;
	     width: 25px;
	     height: 25px;
	     transition-delay: 0.4s;
	      border: #edf4f2 double 6px;
	}
	.swiper-container{
		display: grid;
		grid-template-columns: repeat(2, 50%);
		column-gap: 1rem;
	}
	.swiper-container img{
		width: 100%;
	}
	.swiper-desk{
		display: block;
	}
	.swiper-desk img{
		border-radius: 24px;
		height: 100%;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title{
		font-size: .875rem;
        transform: translateX(0%);
        transition-delay: 0;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(2) .switch-title{
		font-size: .875rem;
        transform: translateX(20%);
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(3) .switch-title{
		font-size: .875rem;
        transform: translateX(-10%);
	}

	.noticias__grid{
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		margin-top: 1rem;
	}
	.g2 .noticias__card:nth-child(3), .g1 .noticias__card:nth-child(5){
		grid-column: 1/3;
		justify-self: center;
	}
    .titulo-grande-seccion{
    	font-size: 2.2rem;
    }
    .titulo-seccion{
	    font-size: 1rem;
	}
	p, a, button, .mybtn, .contact-form input, .contact-form textarea, .select-country{
        font-size: .875rem;
    }
	/* podcast */
		.podcast-player_div>img{
		    width: 30%;
		}
		.player-txt{
		    width: 60%;
		}  
	    
    /* soluciones */
    	section.servicios{
    	    background-color: var(--navy);
    	    min-height: max-content;
    	    padding: 15% 0;
    	}
    	/* tabs grandes */
    	    .nav-tabs.nav-tabs-servicios .nav-item .nav-link{
    	        width: 38vw;
    	        font-size: .875rem;
    	    }
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link{
    	    font-size: .875rem;
    	}
    	.servicios-tab-individual p{
    	    color: #fff;
    	}
		.servicios-individual_titulo{
			max-width: 90%;
		}

	/* adn */
		.adn-linea.linea1{
		    background-color: #b79a3a;
		    transform: rotate(65deg);
		    width: 20vw;
		    top: 27vw;
		    left: 30vw;
		    display: block;
		}
		.adn-linea.linea2{
		    background-color: #2bbdb1;
		    transform: rotate(20deg);
		    width: 28vw;
		    top: 34vw;
		    left: 15vw;
		}
		.adn-linea.linea3{
		    background-color: #21aece;
		    transform: rotate(-20deg);
		    width: 14vw;
		    top: 40vw;
		    left: 28vw;
		}
		.adn-linea.linea4{
		    background-color: #78e1d3;
		    transform: rotate(150deg);
		    width: 34vw;
		    top: 46vw;
		    left: 9vw;
		}
		.home-nosotros{
		    background-position: 0 50%;
		}
		.nosotros-adn_textos{
		    width: 120%;
		    right: 10%;
		}
		.nosotros-texto_p{
		    width: 60%;
		}
		.adn-textos_content{
		    padding-top: 60%;
		}
		.adn-textos_content img{
		    margin-bottom: 2rem;
		}
		.adn-textos_titulo{
			width: 100%;
		    padding: 8px;
		    margin-bottom: 1.5rem;
		    font-size: 1rem;
		}
		
	/* casos de exito */
	    	.indicator-grande_titulo{
	    		font-size: .875rem;
	    	}
			.carousel#carouselExampleIndicators .item-exito-grid{
				padding: 2rem 10%;
			}
			.carousel#carouselExampleIndicators .item-exito-grid img{
				width: 130%;
				right: 4rem;
			}
			.carousel#carouselExampleIndicators p{
				font-size: .875rem;
			}
			.carousel#carouselExampleIndicators .exito-content-list{
				font-size: .975rem;
			}

	/* logos */
		.logos-cambian{
		    display: grid;
		    grid-template-columns: 33% 33% 33%;
		    justify-content: center;
		    grid-column-gap: 6px;
		    margin: 1rem auto;
		    padding: 2rem 5%;
		}
		.logos-cambian div {
		  background-size: 80%;
		  background-repeat: no-repeat;
		  background-position: 50% 50%;
		  filter: grayscale(100%);
		}

	/* dataviz */
		section.dataviz p{
		    color: #fff;
		    line-height: 1.6;
		    padding: 0 5%;
		}
		.carousel-item-dataviz .dataviz-mob-titulo{
		    font-size: 1rem;
		    margin: 2rem 0 1rem;
		}

	/* partners */
		section.partners{
		    background-color: rgba(125, 225, 209, .4);
		    padding: 15% 0;
		}
		.partners-logos{
		    max-width: 400px;
		}
		#partnersModal .modal-content .modal-body form input{
		    font-size: .875rem;
		    height: 50px;
		}
		.partners-item{
		    display: grid;
		    grid-template-columns: 50% 50%;
		    grid-column-gap: 10px;
		    grid-row-gap: 10px;
		    width: 300px;
		    height: 300px;
		}
		.partners-foto{
		    background-color: #fff;
		    border-radius: 1rem;
		    width: 140px;
		    height: 140px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    align-content: center;
		}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.container-eventos{
        padding: 0 6%;
    }
	.myContainer{
	    max-width: 576px;
	    margin: 0 auto;
	} 
	.swiper-container{
		display: grid;
		grid-template-columns: repeat(4, 24%);
		column-gap: 1%;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title{
		font-size: .875rem;
        transform: translateX(-80%);
        transition-delay: 0;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(2) .switch-title{
		font-size: .875rem;
        transform: translateX(-20%);
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(3) .switch-title{
		font-size: .875rem;
        transform: translateX(-85%);
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(4) .switch-title{
		font-size: .875rem;
        transform: translateX(-70%);
	}
	.myContainer.noticias__grid{
		grid-template-columns: repeat(2, 1fr);
		column-gap: 3rem;
		margin-top: 3rem;
		grid-row-gap: 2rem;
	}
	.noticias__card{
	    width: 18rem;
	    height: 350px;
	    border-width: 2pt;
	}
	.noticias__card--img{
        width: 18rem;
    }
    .noticias__card--body{
    	padding: 1rem 1rem;
    }
    .noticias__card--body p{
        bottom: 1rem;
        right: 1rem;
    }
    .noticias-img{
        top: -10%;
    }
    .titulo-grande-seccion{
    	font-size: 2.4rem;
    }
    .titulo-seccion{
	    font-size: 1.1rem;
	}
	p, a, button, .mybtn, .contact-form input, .contact-form textarea, .select-country{
        font-size: .975rem;
    }
    /*footer*/
    	.contact-form{
    	    display: grid;
    	    grid-template-columns: 50% 50%;
    	    row-gap: .5rem;
    	    column-gap: .5rem;
    	    align-items: flex-end;
    	}
    	.contact-form input[name="pais"]{
    		grid-column: 1/3;
    		width: 50%
    	}
    	.contact-form textarea{
    		grid-row: 4/5;
    		grid-column: 1/2;
    	}
    	.contact-form input[type="submit"]{
    		grid-row: 4/5;
    		grid-column: 2/3;
    		width: 50%;
    		margin-left: 4px;
    	}
    	.form-contacto-title{
    		font-size: 1.9rem;
    	}
    	.form-contacto-title_contacto{
    		font-size: 2.2rem;
    	}
    	.img-footer{
	        width: 5rem;
	        margin-bottom: 1.5rem;
	    }
	    .form-contacto-graytitle_mini{
	    	font-size: .975rem;
	    }
	    .footer-contacto-div2>a{
	        font-size: 1rem;
	    }

    /* banner */
    	.home-banner_titulo{
            font-size: 6rem;
        }
        .home-banner_p{
            line-height: 1.8;
        }

    /* Ebooks */
    		.ebook-valuacion-visible, .ebook-datadriven-visible{
    			width: 70rem;
    			max-width: 100%;
    			display: grid;
    			grid-template-columns: 40% 60%;
    			border-radius: 3.125rem;
    		}
    		.ebook-visible-col1{
    			height: 100%;
    			border-radius: 0;
    			border-top-left-radius: 50px;
    			border-bottom-left-radius: 50px;

    			background-size: 75%;
    			background-repeat: no-repeat;
    			background-position: center;
    		}
    		.ebook-visible-col2{
    			border-radius: 0;
    			border-top-right-radius: 50px;
    			border-bottom-right-radius: 50px;
    			padding: 3rem 6rem 3rem 2rem;
    		}
    		.ebook-reveal{
    			border-bottom-left-radius: 50px;
    			border-bottom-right-radius: 50px;
    		}
    		.ebook-reveal h4{
    			font-size: 1.6rem;
    			padding-left: 1rem;
    		}
    		.ebook-reveal form input[type="submit"]{
    			margin-top: 1.5rem;
    			padding: 4px;
    			text-transform: uppercase;
    			background-image: url(../img/descarga.svg);
    			background-repeat: no-repeat;
    			background-size: 1rem;
    			background-position: 82% center;
    			width: 80%;
    		}
    		.ebook-valuacion-reveal form input[type="submit"]{
    			background-color: #00394d;
    			color: #fff;
    		}
    		.ebook-datadriven-reveal form input[type="submit"]{
    			background-color: #d2ac57;
    			color: #fff;
    		}
    		.dd-row{
    			height: 18rem;
    		}
    		.dd-text{
    			padding: 3rem 4.5rem 3rem 3rem;
    		}
    		.dd-col-img, .dd-text{
    			height: 100%;
    		}
    		.dd-form{
    			padding: 0rem 3rem 3rem;
    		}
    		.dd-form input[type="submit"]{
    			width: 70%;
    			margin-top: 1.5rem;
    		}

    /* adn */
    	/* lineas */
    		.adn-linea.linea1{
    		    background-color: #b79a3a;
    		    transform: rotate(65deg);
    		    width: 30vw;
    		    top: 25vw;
    		    left: 18vw;
    		    display: block;
    		}
    		.adn-linea.linea2{
    		    background-color: #2bbdb1;
    		    transform: rotate(32deg);
    		    width: 30vw;
    		    top: 30vw;
    		    left: 12vw;
    		}
    		.adn-linea.linea3{
    		    background-color: #21aece;
    		    transform: rotate(25deg);
    		    width: 16vw;
    		    top: 38vw;
    		    left: 20vw;
    		}
    		.adn-linea.linea4{
    		    background-color: #78e1d3;
    		    transform: rotate(176deg);
    		    width: 26vw;
    		    top: 42vw;
    		    left: 8vw;
    		}
    	.home-nosotros{
    	    background-position: 0 80%;
    	}
    	.nosotros-adn_cuadro{
    	    width: 30vw;
    	    height: 55vw;
    	}
    	.nosotros-adn_textos{
    	    height: 65vw;
    	}
    	.adn-cuadro_circulo{
    	    width: 6vw;
    	    height: 6vw;
    	    border: solid #fff .8vw;
    	    font-size: 2vw;
    	}
    	.adn-textos_content{
    	    padding-top: 60%;
    	}
    	.adn-cuadro_circulo:nth-child(3){
    	    top: 53%;
    	}
    	.adn-cuadro_circulo:nth-child(4){
    	    bottom: 20%;
    	}
    	.nosotros-adn_textos{
    	    width: 100%;
    	}
    	.adn-textos_content{
    	    padding-top: 70%;
    	}
    	.nosotros-texto_p, .adn-textos_p{
    	    font-size: .975rem;
    	}

    /* soluciones */
    	.servicios-individual_titulo{
    	    margin: 8% auto 4%;
    	    margin: 3rem auto 1rem;
    	}
    	.servicios-tab-individual p{
    	    width: 80%;
    	}
    	.nav-tabs.nav-tabs-servicios .nav-item .nav-link{
    	    font-size: .975rem;
    	}
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link{
    	    font-size: .975rem;
    	}
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link img{
    	    width: 60%;
    	}
    	.servicios-individual_img img{
    	    width: 54%;
    	}
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link{
    	    width: 130px;
    	    height: 130px;
    	    max-width: initial;
    	    max-height: initial;
    	    font-size: .875rem;
    	}

    /* casos de exito */
    	.exito .titulo-seccion{
    		position: relative;
    		bottom: .5rem;
    	}
    	.carousel#carouselExampleIndicators .item-exito-grid img{
    		width: 110%;
    		right: 4rem;
    	}
    	.carousel-indicators-grande button{
    		margin: 0 1rem;
    	}
    	.indicator-grande .indicator-grande_titulo{
    		font-size: 1rem;
    		margin-top: .5rem;
    	}
    	.carousel-indicators-grande img{
    		width: 48px;
    	}
    	.carousel#carouselExampleIndicators p{
    	    font-size: .975rem;
    	}
    	.carousel#carouselExampleIndicators .item-exito-grid .item-exito-content .item-exito-content_titulo{
    	    margin-bottom: 1rem;
    	    color: var(--navy);
    	    font-size: 1.8rem;
    	}

	/* dataviz */
		section.dataviz>p{
		    font-size: .975rem;
		    text-align: center;
		}
		.carousel-item-dataviz .dataviz-mob-titulo{
		    font-size: 1.1rem;
		}
		.carousel-item-dataviz .dataviz-mob-titulo{
        	width: 100%;
        	margin-left: 1rem;
        }
        .carousel-item-dataviz p{
            width: 90%;
            margin: 0;
            margin-bottom: 2rem;
        	margin-left: 1rem;
        }
        .carousel-dataviz-ir{
            right: 2rem;
            bottom: 2rem;
        }

	/* partners */
		.partners-item{
		    display: grid;
		    grid-template-columns: 50% 50%;
		    grid-column-gap: 10px;
		    grid-row-gap: 40px;
		    width: 400px;
		    height: 400px;
		    margin: 0 auto;
		    align-items: center;
		    justify-content: center;
		}
		.partners-foto{
		    background-color: #fff;
		    border-radius: 1rem;
		    width: 180px;
		    height: 180px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    align-content: center;
		}
		.partners-foto img.horizontal{
		    max-width: 130px;
		}
		.partners-foto img.vertical{
		    max-width: 80px;
		}

	/* podcast */
		.podcast-player_div{
		    width: 100%;
		    max-width: 700px;
		    padding: 2rem;
		    align-items: stretch;
		}
		.podcast .titulo-grande-seccion{
		    font-size: 2.6rem;
		}
		.podcast-player_div .btn-seguir{
		    margin: 16px 0 32px;
		}
		.podcast-player_div>img{
		    display: block;
		    margin: 0;
		    width: 35%;
		}
		.current-time,
	    .total-duration {
	      padding: 6px;
	      font-size: .9rem;
	    }
		.player-txt{
			width: 60%;
			padding: 0;
			/*border-style: solid;*/
		}
		.playpause-track{
		    bottom:2rem;
		    right: 8%;
		}
		.podcast-titulo>.titulo-seccion{
			color: var(--navy);
			margin-left: 20%;
		}

	/* footer contacto */
	    
	    .footer-mob{
	        padding: 15% 0;
	    }
	    .footer-title{
	        font-size: .975rem;
	    }
	    .footer-mob p, .footer-mob>a{
	        font-size: .975rem;
	        width: 100%;
	    }
	    .footer-logo{
	        max-width: 90px;
	        margin: 0 0 1.5rem;
	    }
	    .footer-contacto_redes{
	        justify-content: center;
	    }
	    .footer-contacto_redes img{
	        width: 40px;
	        margin: 0 10px;
	    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
		.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title{
				font-size: 1rem;
		        transform: translateX(-110%);
		        transition-delay: 0;
			}
			.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(2) .switch-title{
				font-size: 1rem;
		        transform: translateX(-20%);
			}
			.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(3) .switch-title{
				font-size: 1rem;
		        transform: translateX(-90%);
			}
			.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(4) .switch-title{
				font-size: 1rem;
		        transform: translateX(-100%);
			}
	/* prensa */
		.prensa__banner{
	        min-height: 520px;
	        background-size: cover;
	        background-position: 50% 80%;
	    }
	    .prensa__titulo{
	    	font-size: 3.8rem;
	    	letter-spacing: 6px;
	    }
	    .myContainer.noticias__grid{
	    	grid-template-columns: repeat(3, 1fr);
	    	column-gap: 2rem;
	    	margin-top: 3rem;
	    	grid-row-gap: 2rem;
	    }
	    .g1 span:nth-child(2){
	    	grid-column: 2/4;
	    }
	    .g1 .noticias__card:nth-child(5){
	    	grid-column: unset;
	    	justify-self: flex-start;
	    }
	    .g2 .noticias__card:nth-child(3){
	    	grid-column: unset;
	    	justify-self: flex-start;
	    }
	    .noticias__card{
	    }
	   
	    .swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title{
			font-size: .875rem;
	        /*transform: translateX(-70%);*/
	        transition-delay: 0;
		}
		.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:last-child .switch-title{
			font-size: .875rem;
	        /*transform: translateX(70%);*/
		}
	    
	
	.myContainer{
	    max-width: 745px;
	    margin: 0 auto;
	} 
    .titulo-grande-seccion{
    	font-size: 2.6rem;
    }
	p, a, button, .mybtn, .contact-form input, .contact-form textarea, .select-country{
        font-size: 1rem;
    }
    .mybtn{
    	width: 240px;
    }
    .home-banner_button{
        width: 100%;
        max-width: 300px;
    }
    /* footer */
    	.footer-contacto-div1{
    		display: grid;
    		grid-template-columns: 35% 28% 28%;
    		height: 100%;
    		column-gap: 5%;
    	}
    	.footer-contacto-div1 div{
    		border-right: 2px solid;
    	}
    	.footer-contacto-div1 div:last-child{
    		border:none;
    	}
    	.form-contacto-title{
    		font-size: 2.2rem;
    	}
    	.form-contacto-title_contacto{
    		font-size: 2.8rem;
    		margin-bottom: 2rem;
    	}
    	.footer-contacto-div1 hr{
	        display: none;
	    }
	    .form-contacto-graytitle{
	        font-size: 1.1rem;
	    }
	    .footer-contacto-div2{
	        display: grid;
	        grid-template-columns: repeat(3, 1fr);
	        align-items: flex-end;
	        padding: 2rem 0;
	    }
	    .hr-contacto{
	    	margin-top: 3rem;
	    }



    /* banner */
		.home-banner_p{
			font-size: 1rem;
		    width: 65%;
		} 
	/* Ebooks */
		.ebook-visible-col2 button{
			font-size: 1.2rem;
		}
		.ebook-visible-col1{
			height: 22rem;
			background-size: 72%;
			background-repeat: no-repeat;
			background-position: center;
		}
		.ebook-visible-col2{
			height: 22rem;
		}
		.dd-row{
			height: 22rem;
		}
		.dd-text{
			padding: 4rem 6.5rem 3rem 3rem;
		}
		.dd-text h3{
			font-size: 1.8rem;
			margin-bottom: .5rem;
		}
		.dd-text p{
			font-size: 1rem;
		}
		.dd-col-img, .dd-text{
			height: 100%;
		}
		.dd-form{
			padding: 2rem 3rem 8rem;
		}
		.dd-form input[type="submit"]{
			width: 70%;
		}
		.dd-col-img{
			background-image: url(../img/dd-img.png);
			background-repeat: no-repeat;
			background-size: 70%;
			background-position: center;
		}

	/* adn */
		/* lineas */
			.adn-linea.linea1{
			    background-color: #b79a3a;
			    transform: rotate(50deg);
			    width: 24vw;
			    top: 19vw;
			    left: 19vw;
			    display: block;
			}
			.adn-linea.linea2{
			    background-color: #2bbdb1;
			    transform: rotate(32deg);
			    width: 26vw;
			    top: 24vw;
			    left: 10vw;
			}
			.adn-linea.linea3{
			    background-color: #21aece;
			    transform: rotate(10deg);
			    width: 16vw;
			    top: 29vw;
			    left: 18vw;
			}
			.adn-linea.linea4{
			    background-color: #78e1d3;
			    transform: rotate(170deg);
			    width: 27vw;
			    top: 32vw;
			    left: 7vw;
			}
		.home-nosotros{
		    background-position: 0 90%;
		}
		.nosotros-adn_cuadro{
		    width: 25vw;
		    height: 45vw;
		}
		.adn-cuadro_circulo{
		    width: 5vw;
		    height: 5vw;
		    border: solid #fff .6vw;
		    font-size: 1.5vw;
		}
		.adn-textos_content{
		    padding-top: 50%;
		}
		.nosotros-adn_textos{
		    right: 20%;
		    height: 55vw;
		}
		.nosotros-texto_dorado{
		    font-size: 1.1rem;
		}
		.nosotros-texto_principal{
		    font-size: 3rem;
		}
		.nosotros-texto_p{
		    font-size: 1rem;
		    width: 50%;
		}
		.adn-textos_titulo{
			width: 95%;
			padding-top: 10px;
		    font-size: 1.2rem;
		}
		.adn-textos_p{
		    font-size: 1rem;
		}
		.adn-textos_content img{
		    height: 80px;
		    width: auto;
		    margin-bottom: 1rem;
		}

	/* soluciones */
		.nav-pills.nav-pills-soluciones{
			width: 90%;
		}
		.nav-pills.nav-pills-soluciones .nav-item .nav-link{
		    width: 140px;
		    height: 140px;
		}
		.nav-tabs.nav-tabs-servicios .nav-item .nav-link{
		    font-size: 1rem;
		}
		.nav-pills.nav-pills-soluciones .nav-item .nav-link{
		    font-size: 1rem;
		}
		.nav-pills.nav-pills-soluciones .nav-item .nav-link img{
		    width: 60%;
		}
		.servicios-individual_titulo{
			max-width: 70%;
		}

	/* casos de exito */
		section.casos-de-exito{
			margin: 0rem 10%;
			padding-bottom: 3rem;
		}
		.carousel#carouselExampleIndicators .item-exito-grid{
			display: grid;
			align-items: center;
			justify-content: center;
			padding: 1rem 15% 1rem;
		}
		.carousel#carouselExampleIndicators .carousel-indicators-chico{
			margin-bottom: -1rem;
		}
		
	/* dataviz */
		section.dataviz .titulo-grande-seccion{
		    margin-bottom: 2rem;
		}
		.carousel-item-dataviz .dataviz-mob-titulo{
        	width: 100%;
        	margin-left: 1rem;
        }

    /* partners */	
    	.btn-partners{
    		margin-top: 2rem;
    	}

 	/* slider */
 		.container.container-blog{
		    width: 40rem;
		}
		.swiper-wrapper{
			margin-top: 2rem;
			margin-bottom: 4rem;
		}

	/* footer contacto */
		.footer-form_txt .titulo-grande-seccion{
			margin-bottom: 1rem;
		}

	/* podcast */
		.podcast .titulo-seccion{
			margin-bottom: 2rem;
		}
		.podcast .btn-azul{
			margin-top: 3rem;
		}

	/* footer  */
		.footer-mob{
		    text-align: left;
		    padding: 10% 0;
		    display: grid;
		    grid-template-columns: 35% 30% 33%;
		}
		.footer-mob>div{
		    margin: 0;
		}
		.footer-mob>div>div{
		    margin: 0;
		    margin-bottom: 2rem;
		}
		.footer-title{
		    text-transform: uppercase;
		    font-size: .975rem;
		}
		.footer-mob p, .footer-mob>a{
		    color: var(--indigo);
		    margin: 0;
		    font-size: .9rem;
		    width: 80%;
		}
		.footer-logo{
		    max-width: 70px;
		    margin: 1rem 0;
		}
		.footer-contacto_redes{
		    display: flex;
		    width: 100%;
		    justify-content: flex-start;
		}
		.footer-contacto_redes img{
		    width: 40px;
		    margin: 6px;
		}
		.footer-contacto_redes a{
		    transition: all .3s ease;
		}
		.footer-contacto_redes a:hover{
		    transform: translateY(-4px);
		}
		.privacidad{
			color: var(--indigo);
		}
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	main{
	    padding-top: 105px;
	}
	.myContainer{
	    max-width: 992px;
	    margin: 0 auto;
	} 

    .titulo-grande-seccion{
    	font-size: 2.6rem;
    }
	p, a, button, .mybtn{
        font-size: 1rem;
    }
    .mybtn{
    	width: 240px;
    }
    .home-banner_button{
        width: 100%;
        max-width: 300px;
    }
   .swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title{
				font-size: 1rem;
		        transform: translateX(-120%);
		        transition-delay: 0;
			}
			.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(2) .switch-title{
				font-size: 1rem;
		        transform: translateX(-35%);
			}
			.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(3) .switch-title{
				font-size: 1rem;
		        transform: translateX(-11515%);
			}
			.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(4) .switch-title{
				font-size: 1rem;
		        transform: translateX(-100%);
			}
    /*footer*/
    	.form-contacto{
    		display: grid;
    		grid-template-columns: 40% 60%;
    		grid-column-gap: 2rem;
    		min-height: calc(70vh - 60px);
    	}
    	.form-contacto-form{
    	    padding: 0;
    	}
    	.form-contacto p{
    		margin-bottom: 2rem;
    	}
    	.contact-form input, .contact-form textarea, .select-country{
	        font-size: unset;
	    }
	    .form-contacto-texto{
	    	padding-right: 10%;
	    }
	    .footer-contacto{
	        padding: 4rem 10%;
	    }
    	.footer-contacto-div1{
    		display: grid;
    		grid-template-columns: repeat(3, 1fr);
    		height: 100%;
    		column-gap: 6%;
    	}
    	.derechos{
    		display: flex;
    		align-items: center;
    	}
    	.img-footer{
    		margin-bottom: .8rem;
    		width: 4rem;
    		margin-right: 1.5rem;
    	}
    	.footer-contacto-div2>a{
    		margin: 0;
    	}
    	.footer-contacto-div2{
    		align-items: center;
    	}
    	.form-contacto-graytitle_mini{
    		margin-bottom: 0;
    	}


    /* Ebooks */
    	.ebooks{
    		display: flex;
    		flex-direction: row;
    		justify-content: center;
    	}
    	.ebooks-card{
    		width: 45vw;
    	}
    	.ebook-valuacion{
    		margin-right: 2rem;
    	}
    	.ebook-valuacion-visible, .ebook-datadriven-visible{
    		width: 45vw;
    		min-height: 20rem;
    	}
    	.valuacion-visible-col1{
    		background-size: 85%;
    	}
    	.datadriven-visible-col1{
    		background-size: 95%;
    	}
    	.ebook-visible-col2{
    		padding: 3rem 2rem 2rem 2rem;
    	}
    	.ebook-visible-col2 p{
    		font-size: 1rem;
    	}
    	.ebook-visible-col2 h3{
    		font-size: 1.7rem;
    	}
    	.ebook-reveal h4{
    		font-size: 1.8rem;
    		width: 50%;
    	}
    	.ebook-reveal form input[type="submit"]{
    		background-position: 90% center;
    		width: 75%;
    	}
    	#valuacion-fake-reveal, #datadriven-fake-reveal{
    		height: auto;
    	}
    	.dd-row{
    		height: 22rem;
    	}
    	.dd-text{
    		padding: 4rem 8.5rem 3rem 4rem;
    	}
    	.dd-text h3{
    		font-size: 1.9rem;
    		margin-bottom: 1rem;
    	}
    	.dd-text p{
    		font-size: 1.2rem;
    	}
    	.dd-form{
    		padding: 4rem 30% 12rem 10%;
    		height: 55vh;
    	}
    	.dd-form input[type="submit"]{
    		width: 70%;
    	}
    	.dd-form-h3{
    		font-size: 2rem;
    	}
    	.dd-col-img{
    		background-image: url(../img/dd-img.png);
    		background-repeat: no-repeat;
    		background-size: 60%;
    		background-position: center;
    	}
    	.dd-form input[type="submit"]{
    		margin-top: 2rem;
    	}

    /* banner */
		.home-banner{
		    height: 900px;
		    justify-content: flex-start;
		    padding: 8rem 0;
		    background: url('../img/fondo-portada-desktop.png'), url('../img/cuadros-banner.png'), linear-gradient(0deg, rgba(223,247,246,1) 50%, rgba(255,255,255,1) 100%);
		    background-size: cover;
		    background-position: 0% 100%;
		}
		.home-banner_titulo{
	        font-size: 6.5rem;
	    }
	    .home-banner_p{
	        line-height: 1.8;
	        margin: 0rem 0 2rem;
	        width: 35%;
	    }
	    .home-nosotros .titulo-seccion{
	    	position: relative;
	    	bottom: 1rem;
	    }
	    .mybtn.home-banner_button{
	        font-size: .91rem;
    	}

	/* adn */
    	/* lineas */
    		.adn-linea.linea1{
    		    background-color: #b79a3a;
    		    transform: rotate(40deg);
    		    width: 10vw;
    		    top: 11vw;
    		    left: 15vw;
    		    display: block;
    		}
    		.adn-linea.linea2{
    		    background-color: #2bbdb1;
    		    transform: rotate(10deg);
    		    width: 16vw;
    		    top: 14vw;
    		    left: 8vw;
    		}
    		.adn-linea.linea3{
    		    background-color: #21aece;
    		    transform: rotate(165deg);
    		    width: 12vw;
    		    top: 18vw;
    		    left: 12vw;
    		}
    		.adn-linea.linea4{
    		    background-color: #78e1d3;
    		    transform: rotate(158deg);
    		    width: 25vw;
    		    top: 19vw;
    		    left: 4vw;
    		}
    	.home-nosotros{
	    	height: calc(100vh - 125px);
    		display: grid;
    		grid-template-columns: 40% 60%;
    	    background: url('../img/fondo-nosotros-desktop.png');
    	    background-size: 100%;
    	    background-repeat: no-repeat;
    	    background-position: 0 70%;
    	    padding: 5% 10% 10%;
    	    align-items: center;
    	}
    	.nosotros-texto_dorado{
    	    margin-bottom: 2rem;
    	}
    	.nosotros-texto_principal{
    	    margin-bottom: 2rem;
    	}
    	.nosotros-texto_p{
    	    width: 80%;
    	}
    	/* adn cuadro */
	    	.nosotros-adn_cuadro{
	    	    width: 18vw;
	    	    height: 35vw;
	    	}
	    	.nosotros-adn_textos{
	    	    height: 40vw;
	    	}
	    	.adn-cuadro_circulo{
	    	    width: 4vw;
	    	    height: 4vw;
	    	    border: solid #fff .6vw;
	    	    font-size: 1.3vw;
	    	}
	    	.adn-textos_content{
	    	    padding-top: 60%;
	    	}
	    	.adn-cuadro_circulo:nth-child(2){
	    	    left: 23%;
	            top: 28%;
	    	}
	    	.adn-cuadro_circulo:nth-child(3){
	    	    top: 49%;
	    	}
	    	.adn-cuadro_circulo:nth-child(4){
	    	    bottom: 25%;
	    	}
    	/* adn textos */
    		.nosotros-adn_textos{
    		    right: 0%;
    		}
    		.adn-textos_content{
    		    align-items: flex-start;
    		    align-content: flex-end;
    		    padding-top: 15%;
    		}
    		.adn-textos_titulo{
    			padding: 10px 16px;
    		    text-align: left;
    		    border-radius: 12px;
    		}
    		.adn-textos_p{
    		    text-align: left;
    		}
    		.adn-textos_content img{
    		    height: 100px;
    		    width: auto;
    		}
    		.adn-textos_content img#nodos{
    		    transform: scale(.8);
    		    transform-origin: 0 100%;
    		}

    /* soluciones */
    	section.servicios{
    	    background-color: var(--navy);
    	   	height: 900px;
    	    padding: 8rem 0;
    	    background-image: url('../img/fondo-soluciones-desktop.png');
    	    background-position: 0 30%;
    	    position: relative;
    	}
    	.nav-tabs.nav-tabs-servicios{
    		position: absolute;
    		width: 40%;
    		top:30%;
    		left: 52%;
    		margin: 0;
    	}
    	.servicios .titulo-seccion{
    	    position: absolute;
    		width: 40%;
    		top: 25%;
    		left: 52%;
    		height: min-content;
    		text-align: left;
    	}
    	.tab-pane-soluciones .tab-content{
    		width: 40%;
    		left: 52%;
    		position: absolute;
    		top: 40%;
    	}
    	.servicios-individual_titulo{
    		margin: 0;
    		max-width: 100%;
    	}
    	.nav-tabs.nav-tabs-servicios{
    	    width: max-content;
    	    border-radius: 20px;
    	}
    	.nav-tabs.nav-tabs-servicios .nav-item .nav-link{
    	    width: 180px;
    	    font-size: .875rem;
    	    padding: 12px;
    	}
    	.tab-pane-soluciones{
    		display: flex;
    		font-display: row;
    	}
    	
    	.nav-pills-soluciones.nav-pills-servicios, .nav-pills-soluciones.nav-pills-productos{
    		width: 45%;
    		margin: 0;
    		margin-left: 2%;
    		padding-top: 15%;
    		height: 100%;
    	}
    	
    	.nav-pills.nav-pills-soluciones{
    		display: grid;
    		grid-template-columns: 1fr 1fr;
    		justify-items: center;
    	}
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link{
    	    background-color: #fff;
    	    width: 22vw;
    	    height: 22vw;
    	    max-width: 180px;
    	    max-height: 180px;
    	    font-size: 1rem;
    	    line-height: 1.05;
    	    margin: 1rem 0;
            justify-content: center;
    	}
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link img{
            width: 50%;
            margin-bottom: 15%;
        }
    	.nav-pills.nav-pills-servicios .nav-item:nth-child(even) .nav-link{
    	    position: relative;
    	    top: 20%;
    	}
    	.nav-pills.nav-pills-productos .nav-item:nth-child(even) .nav-link{
    	    position: relative;
    	    top: 40%;
    	}
    	.servicios-individual_img{
    		display: none;
    	}
    	.servicios-individual_titulo{
    	    text-align: left;
    	    font-size: 2.6rem;
    	    margin: 4% auto 4%;
    	}
    	.servicios-tab-individual p{
    	    color: #fff;
    	    font-size: 1rem;
    	    width: 70%;
    	    text-align: left;
    	    margin: 0;
    	}

    /* casos de exito */
    	.fondo{
            background-image: url('../img/fondo2.png');
    	}
    	section.exito{
    	    background-image: none;
    	    margin: 0;
    	}
    	.exito-titulo-arriba{
    		position: relative;
    		bottom: 1rem;
    	}
    	.carousel#carouselExampleIndicators .item-exito-grid .item-exito-content .item-exito-content_titulo{
    	    font-size: 2.4rem;
    	}
    	section.casos-de-exito{
    		padding: 1rem 2rem;
    	}
    	.carousel#carouselExampleIndicators .item-exito-grid{
    		display: grid;
    		grid-template-columns: 50% 50%;
    		align-items: center;
    		justify-content: center;
    		/*background-color: #eaeaea;*/
    		padding: 2rem 15% 0rem;
    		height: 38rem;
    	}
    	.carousel#carouselExampleIndicators .item-exito-grid .item-exito-content{
    		max-width: 40rem;
    		height: 100%;
    		padding-top: 3rem;
    	}
    	.carousel#carouselExampleIndicators .exito-content-list{
    		padding: 4px 2rem 0 2px;
    	}
    	
    	.indicator-grande .indicator-grande_titulo{
    		font-size: 1rem;
    		padding: 0 .5rem;
    	}
    	.carousel-indicators-grande img{
    		width: 60px;
    		margin-bottom: 1rem;
    	}
    	.carousel#carouselExampleIndicators p{
    		font-size: 1rem;
    		width: 98%;
    	}
    	.carousel-indicators-chico{
    		padding-bottom: 2rem;
    	}

   	/* dataviz */
   		section.dataviz{
   			padding: 8rem 0;
   		}
   		section.dataviz p{
   		    padding: 0 20%;
   		    margin-top: 1rem;
   		    margin-bottom: 2rem;
   		    font-size: 1rem;
   		}
   		
		.dataviz-desk-titulo{
		    font-size: 1.2rem;
		}

   	/* partners */
   		section.partners{
   		    background-color: rgba(125, 225, 209, .4);
   		    padding: 0rem 10%;
   			display: grid;
   			grid-template-columns: 30% 70%;
   			align-items: center;
   			align-content: center;
   			justify-content: center;
   		}
	    section.partners .titulo-grande-seccion, section.partners .titulo-seccion{
	        color: var(--navy);
	        text-align: left;
	        margin-bottom: 0;
	    }
	    .partners-header{
	    	display: flex;
	    	flex-direction: column;
	    	align-items: flex-start;
	    }
	    .btn-partners{
	        margin: 0;
	        margin-top: 2rem;
	    }
	    .partners-header .titulo-seccion{
	        margin: 1rem 0 0;
	    }
	    #partnersModal .modal-content .modal-body{
	        padding: 0% 5%;
	        display: grid;
	        grid-template-columns: 30% 70%;
	        justify-content: center;
	        align-items: center;
	    }
	    #partnersModal .modal-content .modal-body div{
	        text-align: left;
	    }
	     #partnersModal .modal-content .titulo-grande-seccion{
	        margin-bottom: 2rem;
	    }
	    #partnersModal .modal-content .modal-body form{
	        display: grid;
	        grid-template-columns: 50% 50%;
	        grid-gap: 1rem;
	        padding: 5% 5%;
	        margin-top: 10%;
	    }
	    #partnersModal .modal-content .modal-body form input{
	        border: none;
	        color: #fff;
	        font-size: 1rem;
	        margin: .5rem 0;
	        width: 100%;
	        padding: 2rem 1rem;
	        border-radius: 1rem;
	    }
	    #partnersModal .modal-content .modal-body form input[type="submit"]{
	        letter-spacing: 2px;
	        font-size: 1rem;
	        border-radius: 2rem;
	        max-width: 80%;
	        margin: 2rem 0 .5rem;
	        padding: 1rem;
	    }
	    .carouselPartners{
	    	width: 800px;
	    }
	    .carouselPartners .carousel-item .titulo-seccion{
	    	text-align: center;
	    }
	    .partners-item{
	    	margin-top: 2rem;
	    	justify-content: center;
	    }
		.partners-foto{
			justify-self: center;
			padding: 0 !important;
		}
		.carouselPartners .carousel-control-prev-icon{
		    background-image: url('../img/exito-prev.svg');
		    position: relative;
		    right: 0px;
		}
		.carouselPartners .carousel-control-next-icon{
		    background-image: url('../img/exito_next.svg');
		    position: relative;
		    left: 0px;
		}

	/* slider */
		section.blog{
			padding: 8rem 0;
		}
   		.container.container-blog{
		    width: 60rem;
		}
	    .podcast-flex{
		grid-template-columns: 70% 30%;	   
		}
  
	/* podcast */
		section.podcast{
			padding: 8rem 0;
		}
		.podcast-player_div{
		    width: 100%;
		    max-width: 900px;
		    padding: 2rem;
		    align-items: stretch;
		}
		.podcast{
		    margin: 4rem auto;
		    display: flex;
		    padding: 0;
		    align-items: center;
		    align-content: center;
		    justify-content: space-around;
		    padding: 0 10%;
		}
		.player-txt-meta{
	    	font-size: 1.1rem;
	    }
		.podcast .btn-azul{
			margin: 0;
			margin-top: 3rem;
		}
		.podcast-player_div{
			margin: 0;
		}
		.podcast .titulo-grande-seccion{
			font: 4rem;
		}
		.podcast-player_div .btn-seguir{
		    margin: 30px 0 0;
		}
		.current-time,
	    .total-duration {
	      padding: 6px;
	      font-size: 1rem;
	    }
	    .slider_container {
	      width: 100%;
	      max-width: 400px;
	      display: flex;
	      justify-content: flex-start;
	      align-items: center;
	    }
}


/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
	.myContainer{
	    max-width: 1220px;
	    margin: 0 auto;
	} 
	.swiper-container{
		margin-top: 3rem;
		margin-bottom: 4rem;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title{
		font-size: 1.2rem;
        transform: translateX(-110%);
        transition-delay: 0;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(2) .switch-title{
		font-size: 1.2rem;
        transform: translateX(-30%);
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(3) .switch-title{
		font-size: 1.2rem;
        transform: translateX(-110%);
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(4) .switch-title{
		font-size: 1.2rem;
        transform: translateX(-100%);
	}
	.myContainer.noticias__grid{
    	grid-template-columns: repeat(3, 1fr);
    	column-gap: 0;
    	margin-top: 3rem;
    	grid-row-gap: 2.5rem;
    	max-width: 1200px;
    }
    .noticias__card{
    	width: 20rem;
    	height: 380px;
    }
    .noticias__card--img{
    	height: 65%;
    	width: 20rem;
    	/*border-style: solid;*/
    }
    .noticias-img{
        transform-origin: 80% 50%;
        top: 0%;
        /*transform: scale(1.1);*/
    }
    .noticias__card--body{
    	padding: 1rem 1.5rem;
    	height: 35%;
    }
    .noticias__card--body p{
        font-size: .875rem;
        letter-spacing: 1.5px;
        right: 1.5rem;
        bottom: 1rem;
    }
    .noticias__card--titulo{
        font-size: .91rem;
        line-height: 1.3;
    }
    .titulo-grande-seccion{
    	font-size: 2.8rem;
    }
	p, a, button, .mybtn{
        font-size: 1rem;
    }
    .mybtn{
    	width: 260px;
    }
    .home-banner_button{
    	border-radius: 3rem;
    	padding: 8px 12px;
        width: max-content;
        max-width: 300px;
    }
    /* Ebooks */

    	.ebooks{
    		display: flex;
    		flex-direction: row;
    		justify-content: center;
    		padding: 0 5%;
    		margin-bottom: 5rem;
    	}
    	.ebooks-card{
    		width: 40vw;
    	}
    	.ebook-valuacion{
    		margin-right: 2rem;
    	}
    	.ebook-valuacion-visible, .ebook-datadriven-visible{
    		width: 45vw;
    		grid-template-columns: 45% 55%;
    	}
    	.ebook-visible-col2, .ebook-visible-col1{
    		height: 25rem;
    	}
    	.valuacion-visible-col1{
    		background-size: 92%;
    	}
    	.datadriven-visible-col1{
    		background-size: 102%;
    	}
    	.ebook-visible-col2{
    		position: relative;
    	}
    	.ebook-visible-col2 button{
    		position: absolute;
    		bottom: 20%;
    	}
    	.valuacion-visible-col2{
    		padding: 3rem 6rem 2rem 2rem;
    	}
    	.datadriven-visible-col2{
    		padding: 3rem 3rem 2rem 2rem;
    	}
    	.ebook-visible-col2 p{
    		font-size: 1rem;
    	}
        .ebook-reveal h4{
        	font-size: 1.8rem;
        	width: 40%;
        }
        .dd-row{
        	height: 24rem;
        }
        .dd-text{
        	padding: 4rem 20% 3rem 8rem;
        }
        .dd-text h3{
        	font-size: 2.1rem;
        	margin-bottom: 1rem;
        }
        .dd-text p{
        	font-size: 1.2rem;
        }
        .dd-form{
        	padding: 4rem 30% 3rem 10%;
        }
        .dd-form input[type="submit"]{
        	width: 60%;
        }
        .dd-form-h3{
        	font-size: 2.4rem;
        }
        .dd-col-img{
        	background-image: url(../img/dd-img.png);
        	background-repeat: no-repeat;
        	background-size: 60%;
        	background-position: center;
        }
        .dd-form label{
        	font-size: 1.1rem;
        }
	/* adn */
		/* lineas */
			.adn-linea.linea1{
			    background-color: #b79a3a;
			    transform: rotate(26deg);
			    width: 10vw;
			    top: 8vw;
			    left: 14vw;
			    display: block;
			}
			.adn-linea.linea2{
			    background-color: #2bbdb1;
			    transform: rotate(356deg);
			    width: 17vw;
			    top: 11vw;
			    left: 7vw;
			}
			.adn-linea.linea3{
			    background-color: #21aece;
			    transform: rotate(155deg);
			    width: 13vw;
			    top: 13vw;
			    left: 11vw;
			}
			.adn-linea.linea4{
			    background-color: #78e1d3;
			    transform: rotate(152deg);
			    width: 25vw;
			    top: 15vw;
			    left: 2vw;
			}
    	.home-nosotros{
    	    background-position: 0 80%;
    	}
    	.nosotros-texto_dorado{
    	    margin-bottom: 3rem;
    	}
    	/* adn cuadro */
    		.nosotros-adn_textos{
    			height: 30vw;
    		}
	    	.nosotros-adn_cuadro{
	    	    width: 16vw;
	    	    height: 30vw;
	    	    position: relative;
	    	    top: 8%;
	    	}
	    	.adn-cuadro_circulo{
	    	    width: 3.5vw;
	    	    height: 3.5vw;
	    	    border: solid #fff .5vw;
	    	    font-size: 1.1vw;
	    	}
	    	.adn-cuadro_circulo:nth-child(2){
	            top: 30%;
	    	}
	    	.adn-cuadro_circulo:nth-child(3){
	    	    top: 50%;
	    	}
	    	.adn-cuadro_circulo:nth-child(4){
	    	    bottom: 22%;
	    	}
    	/* adn textos */
    		.adn-textos_content{
    		    padding-top: 20%;
    		}

    /* soluciones */
    	section.servicios{
    	    background-color: var(--navy);
    	    min-height: 92vh;
    	    padding: 0 10%;
    	}
    	.nav-tabs-servicios{
    		position: absolute;
    		right: 30%;
    	}
    	.servicios .titulo-seccion{
    	    position: absolute;
    		right: 31%;
    	}
    	.nav-tabs.nav-tabs-servicios{
    	    width: max-content;
    	    border-radius: 20px;
    	}
    	.nav-tabs.nav-tabs-servicios .nav-item .nav-link{
    	    width: 180px;
    	    font-size: .875rem;
    	    padding: 12px;
    	}
    	.tab-pane-soluciones{
    		display: flex;
    		font-display: row;
    	}
    	
    	.nav-pills-soluciones.nav-pills-servicios, .nav-pills-soluciones.nav-pills-productos{
    		width: 40%;
    		margin: 0;
    		margin-left: 5%;
    		padding-top: 10%;
    		height: 100%;
    	}
    	.tab-pane-soluciones .tab-content{
    		width: 40%;
    		right: 10%;
    		position: absolute;
    	}
    	.nav-pills.nav-pills-soluciones{
    		display: grid;
    		grid-template-columns: 1fr 1fr;
    		justify-items: center;
    	}
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link{
    	    background-color: #fff;
    	    width: 22vw;
    	    height: 22vw;
    	    max-width: 200px;
    	    max-height: 200px;
    	    font-size: 1rem;
    	    line-height: 1.05;
    	    margin: 1rem 0;
            justify-content: center;
    	}
    	.nav-pills.nav-pills-soluciones .nav-item .nav-link img{
            width: 50%;
            margin-bottom: 15%;
        }
    	.nav-pills.nav-pills-servicios .nav-item:nth-child(even) .nav-link{
    	    position: relative;
    	    top: 20%;
    	}
    	.nav-pills.nav-pills-productos .nav-item:nth-child(even) .nav-link{
    	    position: relative;
    	    top: 40%;
    	}
    	.servicios-individual_img{
    		display: none;
    	}
    	.servicios-individual_titulo{
    	    text-align: left;
    	    font-size: 2.6rem;
    	    margin: 4% auto 4%;
    	}
    	.servicios-tab-individual p{
    	    color: #fff;
    	    font-size: 1rem;
    	    width: 70%;
    	    text-align: left;
    	    margin: 0;
    	}

    /* logos */
    	.logos-quien-confia{
    	    display: flex;
    	    padding: 2rem 2%;
    	}
    	.logos-quien-confia img{
    	    margin: 12px auto;
    	    width: 30vw;
    	    filter: grayscale(1);
    	    transition: all .2s ease-out;
    	    max-width: 160px;
    	}

	/* partners */
		section.partners{
		    grid-template-columns: 35% 65%;
		    padding: 8rem 10%;
		}
		.carouselPartners .carousel-item{
		    padding: 0%;
		    width: 100%;
		}
		.partners-item{
		    width: 800px;
		    height: 240px;
		    margin: 0 auto;
		    display: flex;
		    justify-content: center;
		}
		.carouselPartners .carousel-item .titulo-seccion{
			width: 800px;
		    margin: 0 auto;
		    text-align: center;
		}
		.carouselPartners .carousel-control-prev-icon{
		    background-image: url('../img/exito-prev.svg');
		    position: relative;
		    right: 70px !important;
		}
		.carouselPartners .carousel-control-next-icon{
		    background-image: url('../img/exito_next.svg');
		    position: relative;
		    left: 75px !important;
		}

	/* slider */
		section.blog{
			padding: 8rem 0;
		}
   		.container.container-blog{
		    width: 80rem;
		}
		.container-blog p{
			font-size: .9rem;
		}

    /* dataviz */
    	.table__cell-img{
            margin: 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            z-index: 10;
            border-radius: 2rem;
        }
    	.table__cell img{
    		height: 90%;
    	    /*max-width: 550px;*/
            border-radius: 2rem;
    	}
    	.table__cell::scrollbar {
		  display: none;
		}
		.table__cell{
		  -ms-overflow-style: none;  /* IE and Edge */
		  scrollbar-width: none;  /* Firefox */
		}

	/* footer form */
	    
	    .footer-form{
	        background-color: #00394d;
	        color: #fff;
	        padding: 8rem 0;
	    }
	    .footer-form_container{
	    	display: grid;
	    	grid-template-columns: 40% 60%;
	    	align-items: center;
	    	align-content: center;
	    }
	    .footer-form_txt{
	    	padding-right: 15%;
	    }
	    .footer-form_form{
	        margin: 0;
	        max-width: 500px;
	    }
	    .footer-form_input{
	        background-color: #002940;
	        color: #fff;
	        border: none;
	        margin-top: 1rem;
	        padding: .8rem 1rem;
	        border-radius: 7px;
	        font-size:1rem;
	        height: 70px;
	    }
	    .footer-form_submit{
	        margin-top: 2rem;
	    }
}


/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
	.myContainer{
	    max-width: 1300px;
	    margin: 0 auto;
	} 
}


/*// Widescreen*/
@media (min-width: 1600px) { 

	
	.carouselPartners .carousel-control-prev-icon{
	    background-image: url('../img/exito-prev.svg');
	    position: relative;
	    right: 10%;
	}
	.carouselPartners .carousel-control-next-icon{
	    background-image: url('../img/exito_next.svg');
	    position: relative;
	    left: 10%
	 }

	 .swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title{
		font-size: 1.2rem;
        transform: translateX(-150%);
        transition-delay: 0;
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(2) .switch-title{
		font-size: 1.2rem;
        transform: translateX(-50%);
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(3) .switch-title{
		font-size: 1.2rem;
        transform: translateX(-160%);
	}
	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch:nth-child(4) .switch-title{
		font-size: 1.2rem;
        transform: translateX(-130%);
	}
}