/* General  */
    @font-face {
        font-family: 'circularstdmedium';
        src: url('../fonts/CircularStd-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'circularstdblack';
        src: url('../fonts/CircularStdBlack.ttf') format('truetype');
    }

    @font-face {
        font-family: 'circularstdbook';
        src: url('../fonts/CircularStd-Book.ttf') format('opentype');
        font-weight: lighter;
    }



    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    html{
        font-size: 100%;
    }

    body {
        font: 16px/1.25 'circularstdbook', sans-serif;
        background-color: #fcfcfc;
    }
    main{
        padding-top: 80px;
    }
    :root{
        --indigo: #0075a9;
        --hover-nav:  #24cdd5;
        --navy: #12424f;
        --cielo: #ecf7f4;
        --indigo2: #2B6881;
        --aquamarine: #87e1d1;
        --gold:  #b69b1f;
        --grise6: #e6e6e6;
        --gris80: #808080;
        --indigo: #00698f;
        --turquesaFuerte: #219fa9;
        --transparent: transparent;


        --font400: .81rem;
        --font500: .875rem;
        --font600: 1rem;
        --font800: 1.8rem;
    }
    .myContainer{
        max-width: 85%;
        margin: 0 auto;
        /*border-style: solid;*/
    }
    .titulo-seccion{
        color: var(--gold);
        text-transform: uppercase;
        font-size: .81rem;
        letter-spacing: 2px;
        text-align: left;
    }
    .titulo-grande-seccion{
        font-family: 'circularstdblack', sans-serif;
        font-size: 1.8rem;
    }
    p{
        line-height: 1.6;
    }
    p, a, button{
        font-size: .81rem;
    }
    .mybtn{
        display: block;
        width: 200px;
        /*color: var(--navy);*/
        border: 2px solid #fff;
        border-radius: 2rem;
        text-transform: uppercase;
        padding: 8px;
        letter-spacing: 2px;
        margin-top: 1rem;
        font-size: .81rem;
        font-family: 'circularstdmedium', sans-serif;
        transition: all .3s ease;
        text-decoration:none;
        text-align: center;
    }
    .mybtn:hover{
        transform: translateY(-4px);
        text-decoration: none;
        color: inherit;
    }

/* Loader */
    .loader {

      bottom: 0;

      height: 100%;

      left: 0;

      position: fixed;

      right: 0;

      top: 0;

      width: 100%;

      z-index: 1111;

      overflow-x: hidden;

      background: #fff;

    }



    .loader-inner {

      position: absolute;

      left: 50%;

      top: 50%;

      -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

      -o-transform: translate(-50%, -50%);

      transform: translate(-50%, -50%);

    }



    .cssload-loader {

      width: 32px;

      height: 32px;

      border-radius: 50%;

      margin: 2em;

      display: inline-block;

      position: relative;

      vertical-align: middle;

    }



    .cssload-loader,

    .cssload-loader:before,

    .cssload-loader:after {

      animation: 1.15s infinite ease-in-out;

      -o-animation: 1.15s infinite ease-in-out;

      -webkit-animation: 1.15s infinite ease-in-out;

      -moz-animation: 1.15s infinite ease-in-out;

    }



    .cssload-loader:before,

    .cssload-loader:after {

      content: "";

      width: 100%;

      height: 100%;

      border-radius: 50%;

      position: absolute;

      top: 0;

      left: 0;

      background-color: rgb(36, 204, 213);

      transform: scale(0);

      -o-transform: scale(0);

      -ms-transform: scale(0);

      -webkit-transform: scale(0);

      -moz-transform: scale(0);

      animation: cssload-animation 1.73s infinite ease-in-out;

      -o-animation: cssload-animation 1.73s infinite ease-in-out;

      -webkit-animation: cssload-animation 1.73s infinite ease-in-out;

      -moz-animation: cssload-animation 1.73s infinite ease-in-out;

    }



    .cssload-loader:after {

      animation-delay: 0.86s;

      -o-animation-delay: 0.86s;

      -webkit-animation-delay: 0.86s;

      -moz-animation-delay: 0.86s;

    }



    @keyframes cssload-animation {

      0% {

          transform: translateX(-100%) scale(0);

      }

      50% {

          transform: translateX(0%) scale(1);

      }

      100% {

          transform: translateX(100%) scale(0);

      }

    }



    @-o-keyframes cssload-animation {

      0% {

          -o-transform: translateX(-100%) scale(0);

      }

      50% {

          -o-transform: translateX(0%) scale(1);

      }

      100% {

          -o-transform: translateX(100%) scale(0);

      }

    }



    @-ms-keyframes cssload-animation {

      0% {

          -ms-transform: translateX(-100%) scale(0);

      }

      50% {

          -ms-transform: translateX(0%) scale(1);

      }

      100% {

          -ms-transform: translateX(100%) scale(0);

      }

    }



    @-webkit-keyframes cssload-animation {

      0% {

          -webkit-transform: translateX(-100%) scale(0);

      }

      50% {

          -webkit-transform: translateX(0%) scale(1);

      }

      100% {

          -webkit-transform: translateX(100%) scale(0);

      }

    }



    @-moz-keyframes cssload-animation {

      0% {

          -moz-transform: translateX(-100%) scale(0);

      }

      50% {

          -moz-transform: translateX(0%) scale(1);

      }

      100% {

          -moz-transform: translateX(100%) scale(0);

      }

    }


/* nav */
    
    /* nav desktop */

        nav.navDesktop{
            background-color: #fff;
            height: 125px;
            position: fixed;
            width: 100vw;
            z-index: 1000;
            top: 0;
        }
        nav.navDesktop .navDesktop-ul{
            display: flex;
            list-style: none;
            margin: 0;
            align-items: center;
            align-content: center;
        }
        nav.navDesktop .navDesktop-ul li.nav-item .nav-link{
            color: #808080;
            padding: 4px 8px;
            margin: 0 1em;
            cursor: pointer;
            font-family: 'circularstdbook', sans-serif;
            font-size: 1rem;
            font-weight: normal;
        }
        nav.navDesktop .navDesktop-ul li.nav-item .nav-link:hover{
            /*border-bottom: 1px solid;*/
            color: var(--navy);
        }
        nav.navDesktop .navDesktop-ul li.nav-item.nav-item-soluciones{
            display: flex;
            align-items: center;
            align-content: center;
        }
        nav.navDesktop .navDesktop-ul li.nav-item.nav-item-soluciones img{
            width: 14px;
            margin-left: 4px;
            transition: all .6s ease;
        }
        nav.navDesktop .navbar-brand img{
            height: 56px;
        }

    /* navbar soluciones */
        #menuSoluciones{
            box-sizing: border-box;
            display: none;
            position: absolute;
            width: 100vw;
            left: 0;
            top: 125px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom: 1px solid var(--navy);
            background: #fff;
            height: 500px;
            z-index: 200;
        }
        .navlinksoluciones{
            padding: 3rem 5%;
        }
        .grid-soluciones{
            display: grid;
            grid-template-columns: 25% 75%;
            align-items: center;
        }
        .grid-soluciones .nav{
            border-right-style: solid;
            border-color: var(--navy);
            border-width: 1px;
            height: 100%;
            align-items: flex-start;
            align-content: flex-start;
        }
        .navlinksoluciones .nav.navlinksoluciones-buttons  button{
            border-style: none;
            background-color: transparent;
            border-bottom-style: solid;
            border-color: var(--grise6);
            color: #808080;
            text-align: left;
            width: 80%;
            font-size: 1rem;
            font-family: 'circularstdbook', sans-serif;
            padding-top: 4rem;
        }
        .navlinksoluciones .nav button:nth-child(1){
            padding-top: 2rem;
        }

        .navlinksoluciones .nav button:hover{
            border-color: #b69b1f;
            color: #00394c;
            font-weight: bold;
        }
        .navlinksoluciones .nav button:focus{
            border-color: #b69b1f;
            color: #00394c;
            font-weight: bold;
        }
        .navlinksoluciones .nav button.active{
            border-color: #b69b1f;
            color: #00394c;
            font-weight: bold;
        }
        .soluciones-tab{
            height: 380px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row-gap: 2rem;
            align-items: center;
            align-content: center;
            padding: 1em 1vw;
        }
        .soluciones-tab a{
           text-decoration: none;
           border-radius: 1rem;
           transition: all .2s ease;
        }
        .soluciones-tab a:hover{
           background-color: var(--cielo);
           transform: translateY(-4px);
        }
        .soluciones-tab-ind{
            display: grid;
            grid-template-columns: 18% 82%;
            align-items: flex-start;
            height: 100%;
            padding: 1rem 5%;
        }
        .soluciones-tab-ind img{
            width: 70%;
            max-width: 62px;
            margin-top: .5em;
        }
        .soluciones-tab-ind img#soluciones-baiwa-icon{
            width: 65%;
            max-width: 52px;
        }
        .soluciones-tab-ind .tab-ind-titulo{
            width: 90%;
            color: var(--navy);
            margin-bottom: 4px;
            font-size: 1rem;
            font-family: 'circularstdblack', sans-serif;
        }

        .soluciones-tab-ind .tab-ind-p{
            color: var(--gris80);
            font-family: 'circularstdbook', sans-serif;
            font-size: .875rem;
            font-weight: lighter;
            line-height: 1.5;
        }
        /*Industrias*/
        .tab-pane div.transporte-grid{
            height: 380px;
            display: grid;
            grid-template-columns: 45% 55%;
        }
        .tab-pane div .nav-transporte{
            padding: 5% 15%;
        }
        .tab-pane div .nav-transporte button{
            font-size: 1rem;
            padding: .2rem .2rem;
            display: flex;
            border-style: none;
            border-width: 2px;
            background: transparent;
            color: var(--gris80);
            text-align: left;
        }
        .tab-pane div .nav-transporte button .titulo-industrias{
            font-size: 1rem;
            border-bottom-style: solid;
            border-color: transparent;
            padding: 0 .1rem .5rem;
            width: 100%;
        }
        .tab-pane div .nav-transporte button img{
            width: 26px;
            margin-right: 1rem;
            opacity: 70%;
        }
        .tab-pane div .nav-transporte button:hover .titulo-industrias{
            border-color: #b69b1f;
            border-width: 2px;
            font-weight: bold;
        }
        .tab-pane div .nav-transporte button.active .titulo-industrias{
            border-color: #b69b1f;
            border-width: 2px;
            font-weight: bold;
        }
        .tab-pane div .nav-transporte button:hover img{
            opacity: 1;
        }
        .tab-pane div .nav-transporte button:focus h3{
            border-color: #b69b1f;
        }
        .tab-pane div .nav-transporte button:focus img{
            opacity: 1;
        }

        .tab-pane div.transporte-grid .tab-content{
            display: flex;
            flex-direction: column;
            padding: 8% 10%;
        }
        .tab-pane div.transporte-grid .tab-content img{
            width: 120px;
            margin-bottom: 1.5rem;
        }
        .tab-pane div.transporte-grid .tab-content .tab-transporte-titulo{
            color: var(--navy);
            font-weight: bold;
            font-size: 1rem;
        }
        .tab-pane div.transporte-grid .tab-content .tab-transporte-p{
            color: #808080;
            font-family: 'circularstdbook';
            font-size: .9rem;
            font-weight: lighter;
            max-width: 480px;
            line-height: 1.5;
        }

    /* nav mobile  */
        .nav-mobile-all{
            position: fixed;
            z-index: 100;
        }
        .navMobile{
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            padding: .2rem 1.4rem .4rem;
            background-color: #fff;
            width: 100vw;
        }
        .navMobile-header{
            display: flex;
            align-items: center;
            align-content: center;
        }
        .navMobile img{
            height: 36px;
        }
        .button_container {
            position: relative;
            height: 24px;
            width: 36px;
            cursor: pointer;
            z-index: 100;
            transition: opacity 0.25s ease;
            margin-left: 5vw;
            cursor: pointer;
            z-index: 100;
        }
        .button_container.active .top {
             transform: translateY(11px) translateX(0) rotate(45deg);
             background: var(--indigo);
        }
        .button_container.active .middle {
            opacity: 0;
            background: var(--indigo);

        }
        .button_container.active .bottom {
             transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: var(--indigo);

        }
        .button_container span {
            background: var(--indigo);
            border: none;
            height: .15rem;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.35s ease;
            cursor: pointer;
        }
        .button_container span:nth-of-type(2) {
             top: 11px;
        }
        .button_container span:nth-of-type(3) {
             top: 22px;
        }
        .carousel-soluciones-mobile .carousel-inner{
            visibility: hidden;
            opacity: 0;
        }
        .carousel-soluciones-mobile.open .carousel-inner{
            visibility: visible;
            opacity: 1;
        }
        .overlay {
            position: fixed;
            background-color: #fcfcfc;
            top: 80px;
            width: 100%;
            /*visibility: hidden;*/
            transition: opacity 0.35s, visibility 0.35s, height 0.35s;
            overflow: hidden;
            height: 92%;
            padding: 0 0 1rem;
        }
        .overlay-menu{
            background-color: #fcfcfc;
            width: 92vw;
            box-sizing: border-box;
            border: solid var(--navy) 1px;
            border-radius: 30px;
            margin: 0 auto;
        }
         .carousel-soluciones-mobile.open .overlay li {
           /*  animation: fadeInRight 0.5s ease forwards;
             animation-delay: 0.35s;*/
        }
         .carousel-soluciones-mobile.open .overlay li:nth-of-type(2) {
             animation-delay: 0.4s;
        }
         .carousel-soluciones-mobile.open .overlay li:nth-of-type(3) {
             animation-delay: 0.45s;
        }
        .carousel-soluciones-mobile.open .overlay li:nth-of-type(4) {
             animation-delay: 0.5s;
        }
        .carousel-soluciones-mobile.open .overlay li:nth-of-type(5) {
             animation-delay: 0.5s;
        }
        .carousel-soluciones-mobile.open .overlay li:nth-of-type(6) {
             animation-delay: 0.5s;
        }
        .overlay nav {
             position: relative;
             height: 100%;
             top: 50%;
             transform: translateY(-50%);
             font-size: 1rem;
        }
         .overlay ul {
             list-style: none;
             padding: 2rem;
             margin: 0 auto;
             display: inline-block;
             position: relative;
             height: 100%;
             width: 100%;
        }
        .overlay ul li {
             display: block;
             position: relative;
             opacity: 1;
             width: 100%;
             border-bottom: solid 1px var(--gold);
             padding: 2.5em 0em .8em;
        }
         .overlay ul li:first-child{
             padding-top: 1em;
        }
        .overlay ul li a {
             display: block;
             position: relative;
             color: var(--navy);
             text-decoration: none;
             overflow: hidden;
             font-family: 'circularstdblack', sans-serif;
            transition: all .2s ease;
            font-size: .9rem;
        }
        .overlay ul li:hover a{
            transform: translateY(-2px);
        }
         .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
             width: 100%;
        }
         @keyframes fadeInRight {
             0% {
                 opacity: 0;
                 left: 20%;
            }
             100% {
                 opacity: 1;
                 left: 0;
            }
        }
        /* Social Media */
            .overlay ul li:last-child{
                border-bottom: none !important;
                position: static;
            }
            .overlay ul li .navMobile-social{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                max-width: 400px;
                position: absolute;
                bottom: 1.5em;
            }
            .overlay ul li .navMobile-social a{
                padding: 4px 0;
            }
            .overlay ul li .navMobile-social a img{
                display: block;
                height: 40px;
                margin: 0 1rem 0 0;
                transition: all .2s ease;
            }
            .overlay ul li .navMobile-social a:after {
                 content: '';
                 background: transparent;
            }
            .overlay ul li .navMobile-social:hover a{
                transform: translateY(0);
            }
            .overlay ul li .navMobile-social a img:hover{
                transform: translateY(-2px);
            }
            .navMobile-li-soluciones img{
                width: 10px;
                float: right;
            }

    /* dropdown ES/EN  */
        .navMob-dropdown_lang .dropbtn{
            background-color: transparent;
            border: .7px solid var(--navy);
            border-radius: 1rem;
            width: 78px;
            height: 29px;
            padding: 0;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            align-content: center;
            -webkit-box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75); 
            box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75);
        }
        .navMob-dropdown_lang .dropbtn img{
            width: 14px;
            margin-left: 12px;
        }
        .navMob-dropdown_lang .dropbtn:hover{
            background-color: var(--cielo);
        }
        .navMob-dropdown_lang .dropbtn.show{
           border-bottom: none;
           border-bottom-left-radius: 0;
           border-bottom-right-radius: 0;
           box-shadow: 0;
           height: 46px;
           top: 6px;
        }
        .navMob-dropdown_lang .dropbtn img{
            transition: all .6s ease;
        }
        .navMob-dropdown_lang .dropbtn.show img{
           transform: rotate(-180deg);
        }

        .navMob-dropdown_lang .dropdown-menu{
            min-width: 78px;
            width: 78px;
            height: 46px;
            padding: 0;
            background-color: #fff;
            border: .7px solid var(--navy);
            border-top: none;
            border-radius: 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            -webkit-box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75); 
            box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75);
        }
        .navMob-dropdown_lang .dropdown-menu li{
            width: 70px;
            min-width: 76px;
            height: 46px;
        }
        .navMob-dropdown_lang .dropdown-menu li a{
            width: 70px;
            min-width: 76px;
            height: 45px;
            display: flex;
            align-content: center;
            align-items: center;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        .navMob-dropdown_lang .dropdown-menu li a:hover{
            background-color: var(--cielo);
            width: 76px;
        }

    /* navbar soluciones mobile */
        .soluciones-mobile-item2-container{
            background-color: #fff;
            width: 100vw;
            margin: 0rem;
            /*margin-top: 70px;*/
            position: fixed;
            top: 70px;
            height: 100%;
        }
        .soluciones-mobile-item2-opciones{
            background-color: #fff  ;
            top: calc(70px + .7rem);
            left: 0;
            width: calc(100vw - 2rem);
            min-height: 80vh;
            transition: opacity 0.35s, visibility 0.35s, height 0.35s;
            overflow: hidden;
            font-size: 1.1rem;
        }
       
        .soluciones-mobile-item2-opciones.op2 p{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
        }
        .soluciones-mobile-item2-opciones.op2 p span{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
        }
        .soluciones-mobile-item2-opciones.op2 p img:first-child{
            width: 32px;
            margin-right: 1rem;
        }
        .navMobile-regresar{
            cursor: pointer;
            font-family: 'circularstdblack', sans-serif;
            font-size: 1rem; 
            color: var(--navy);
            margin-left: 2rem;
            padding: 1.8rem 1rem;
            height: 80px;
        }
        .navMobile-regresar p{
          font-size: .9rem;
        }
        #navMobile-flecha-atras{
            transform: rotate(180deg);
            width: 10px;
            margin-right: 1rem;
        }
        .soluciones-mobile-item2-opciones{
            width: 100%;
            overflow: visible;
        }
        .soluciones-mobile-item2-opciones ul{
            list-style: none;
            padding: 2rem;
            display: block;
            position: relative;
            width: 96vw;
            height: 68vh;
            background-color: #fcfcfc;
            min-height: 68vh;
            transition: opacity 0.35s, visibility 0.35s, height 0.35s;
            overflow: hidden;
            border: solid var(--navy) 1px;
            margin: 0 auto;
            border-radius: 30px;
        }
        .soluciones-mobile-item2-opciones ul li{
            display: block;
            width: 100%;
            border-bottom: solid 1px var(--gold);
            padding: 2.5em 0em .8em;
            color: var(--navy);
            font-family: 'circularstdblack', sans-serif;
            text-decoration: none;
            cursor: pointer;
        }
                
        .soluciones-mobile-item2-opciones ul li p{
            transition: all .2s ease;
            font-size: .9rem;
            font-family: 'circularstdblack', sans-serif;
        }
        .soluciones-mobile-item2-opciones ul li a{
            text-decoration: none;
            color: var(--navy);
        }
        .soluciones-mobile-item2-opciones ul li:hover p{
                transform: translateY(-2px);
        }
        .soluciones-mobile-item2-opciones ul li:first-child{
             padding-top: 1em;
        }
        .soluciones-flecha-next{
            width: 10px;
            float: right;
        }
        .soluciones-ul-container img{
            width: 80px;
        }
        .soluciones-ul-container .ul-container-titulo{
            font-family: 'circularstdblack';
            color: var(--navy);
            font-size: 1rem;
            margin-top: 2rem;
        }
        .soluciones-ul-container p{
            font-family: 'circularstdbook';
            font-size: .81rem;
            margin-top: .5rem;
            font-weight: normal;
        }
