/* General  */
    @font-face {
        font-family: 'circularstdmedium';
        src: url('../fonts/CircularStd-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'circularstdblack';
        src: url('../fonts/CircularStdBlack.ttf') format('truetype');
    }

    @font-face {
        font-family: 'circularstdbook';
        src: url('../fonts/CircularStd-Book.ttf') format('truetype');
        font-weight: lighter;
    }

    @font-face {
        font-family: 'monoton';
        src: url('../fonts/Monoton-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'grotesk';
        src: url('../fonts/PPRightGrotesk-CompactBlack.otf') format('opentype');
    }

    :root{
        --indigo: #0075a9;
        --hover-nav:  #24cdd5;
        --navy: #12424f;
        --cielo: #ecf7f4;
        --indigo2: #2B6881;
        --aquamarine: #87e1d1;
        --gold:  #b69b1f;
        --grise6: #e6e6e6;
        --gris80: #808080;
        --indigo: #00698f;
        --turquesaFuerte: #219fa9;
        --transparent: transparent;
        --moradof: #1f0629;
        --rosa: #9e005d;
        --negro: #000;
        --moradoc: #2a1b8a;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    html{
        font-size: 100%;
    }

    body {
        font: 16px/1.25 'circularstdbook', sans-serif;
        background-color: var(--moradoc);
        color: #fff;
        width: 100%;
        height: 100%;
    }
    main{
        /*padding-top: 60px;*/
    }
    .text-rosa{
        color: var(--rosa);
    }
    .btn{
        background-color: #fff;
        border-radius: 7px;
        text-transform: uppercase;
        font-family: 'circularstdblack', sans-serif;
        letter-spacing: 2px;
        font-size: .875rem;
        width: 120px;
        /*padding: 4px;*/
    }

    .btn-out-rosa{
        border: 2px solid var(--rosa);
        transition: all .3s ease;
        -webkit-box-shadow: 2px 5px 16px 0px #bbb, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 2px 5px 16px 0px #bbb, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    .btn-out-rosa:hover{
        background-color: var(--rosa);
        color: #fff;
    }
    .btn-out-negro{
        border: 2px solid var(--negro);
        transition: all .3s ease;
        -webkit-box-shadow: 2px 5px 16px 0px #bbb, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 2px 5px 16px 0px #bbb, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    .btn-out-negro:hover{
        background-color: var(--negro);
        color: #fff;
    }
    .btn2{
        width: 180px;
        padding: 10px 4px;
        border-radius: 7px;
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: 1px;
        cursor: auto;

    }
    .btn-morado{
        color: #fff;
        background-color: var(--moradoc);
        transition: all .3s ease;
        cursor: auto;
    }
    .btn-morado:hover{
        /*color: var(--moradof);*/
        /*background-color: #fff;*/
        color: #fff;
    }
    a{
        text-decoration: none;
    }
    p{
        font-size: .71rem;
        line-height: 1.6;
    }
    .titulo-seccion{
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        font-family: 'grotesk', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
/* nav */

    /* nav desktop */

        nav.navDesktop{
            background-color: #f2f2f2;
            height: 80px;
            /*position: fixed;*/
            width: 100vw;
            z-index: 1000;
            top: 0;
            max-width: 100vw;
            margin: 0;
            border: none;
        }
        nav.navDesktop .navDesktop-ul{
            display: flex;
            list-style: none;
            margin: 0;
            align-items: center;
            align-content: center;
        }
        nav.navDesktop .navDesktop-ul li.nav-item .nav-link{
            color: #808080;
            padding: 4px 8px;
            margin: 0 1em;
            cursor: pointer;
            font-family: 'circularstdbook', sans-serif;
            font-size: 1rem;
            font-weight: normal;
        }
        nav.navDesktop .navDesktop-ul li.nav-item .nav-link:hover{
            /*border-bottom: 1px solid;*/
            color: var(--navy);
        }
        nav.navDesktop .navDesktop-ul li.nav-item.nav-item-soluciones{
            display: flex;
            align-items: center;
            align-content: center;
        }
        nav.navDesktop .navDesktop-ul li.nav-item.nav-item-soluciones img{
            width: 14px;
            margin-left: 4px;
            transition: all .6s ease;
        }
        nav.navDesktop .navbar-brand img{
            height: 40px;
        }

    /* dropdown ES/EN  */
        .navMob-dropdown_lang .dropbtn{
            background-color: transparent;
            border: .7px solid var(--navy);
            border-radius: 1rem;
            width: 78px;
            height: 29px;
            padding: 0;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            align-content: center;
            -webkit-box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75); 
            box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75);
        }
        .navMob-dropdown_lang .dropbtn img{
            width: 14px;
            margin-left: 12px;
        }
        .navMob-dropdown_lang .dropbtn:hover{
            background-color: var(--cielo);
        }
        .navMob-dropdown_lang .dropbtn.show{
           border-bottom: none;
           border-bottom-left-radius: 0;
           border-bottom-right-radius: 0;
           box-shadow: 0;
           height: 46px;
           top: 6px;
        }
        .navMob-dropdown_lang .dropbtn img{
            transition: all .6s ease;
        }
        .navMob-dropdown_lang .dropbtn.show img{
           transform: rotate(-180deg);
        }

        .navMob-dropdown_lang .dropdown-menu{
            min-width: 78px;
            width: 78px;
            height: 46px;
            padding: 0;
            background-color: #fff;
            border: .7px solid var(--navy);
            border-top: none;
            border-radius: 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            -webkit-box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75); 
            box-shadow: 6px 6px 8px 0px rgba(224,224,224,0.75);
        }
        .navMob-dropdown_lang .dropdown-menu li{
            width: 70px;
            min-width: 76px;
            height: 46px;
        }
        .navMob-dropdown_lang .dropdown-menu li a{
            width: 70px;
            min-width: 76px;
            height: 45px;
            display: flex;
            align-content: center;
            align-items: center;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        .navMob-dropdown_lang .dropdown-menu li a:hover{
            background-color: var(--cielo);
            width: 76px;
        }

/* intro */
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        min-height: calc(100vh - 80px);
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        color: #000;
    }
    .intro-img{
        display: flex;
        justify-content: center;
        width: 80%;
        max-width: 500px;
        margin-top: 30%;
    }
    .intro-img1{
        background-color: var(--moradof);
        border-radius: 1rem;
        width: 46%;
        padding: 1rem;
        max-width: 200px;
        margin: 0 1rem;
        transition: all .4s ease;
    }
    .intro-img1:hover{
        transform: scale(1.05);
    }
    .intro-img1 img{
        width: 100%;
    }
    .intro-txt{
        text-align: center;
        text-transform: uppercase;
        margin: 2rem 0 0;
    }
    .intro-txt-titulo{
        font-size: 1.6rem;
        font-family: 'grotesk', sans-serif;
        letter-spacing: 2px;
    }
    .intro-txt-sub{
        font-size: 2.6rem;
        font-family: 'monoton', sans-serif;
        margin: .5rem 0 1.5rem;
    }
    .intro-btns{
        /*margin:  0;*/
    }
    .intro-btns a{
        margin: 0 4px;
        font-family: 'circularstdblack', sans-serif;
        letter-spacing: 1px;
    }

/* intro morada */

    .intro-morada{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        min-height: calc(100vh);
        padding: 0 10%;
        position: relative;
        background-color: var(--moradoc);
       /* background-image: url('../img/fondo-intro-morada@2x.png');
        background-size: cover;*/
    }
    .intro-morada::before {    
        content: "";
        background-image: url('../img/fondo-intro-morada@2x.png');
        background-size: cover;
        position: absolute;
        top: 0%;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
        min-height: calc(100vh - 80px);
        width: 100%;
        /*background-color: pink;*/
    }
    .flecha-ir img{
        width: 40px;
        display: block;
        margin: auto;
    }
    .intro-morada-titulo{
        text-transform: uppercase;
        margin: 15% 0;
    }
    .intro-morada-ir{
        position: absolute;
        top: 30%;
        transition: all .4s ease;
    }
    .intro-morada-ir:hover{
        transform: translateY(4px);
    }

/* inspo */
    .inspo{
        display: grid;
        grid-template-rows: 30% 70%;
        text-align: center;
        min-height: calc(98vh - 60px);
        padding: 10% 10%;
        background-color: var(--moradof);
    }
    .inspo video{
        height: 100%;
        margin: auto;
        max-width: 400px;
    }
    .inspo .titulo-seccion{
        margin: 10% 0;
    }
    .inspo p{
        width: 90%;
        display: block;
        margin: auto;
    }

/* brain  */
    .brain-mob{
        padding: 10% 0;
        text-align: center;
        background-color: var(--moradoc);
        background: rgb(31,6,42);
        background: linear-gradient(180deg, rgba(31,6,42,1) 0%, rgba(27,20,99,1) 100%);
    }
    .brain-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .brain-mob .titulo-seccion{
        margin: 10% 0 5%;
    }
    .brain-mob p{
        width: 70%;
    }
    .brain-mob .btn2{
        margin: 5% 0;
    }
    .brain-img{
        width: 90%;
        opacity: .5;
        margin-top: 5%;
        max-width: 650px;
    }
    .brain-mob .titulo-mini{
        font-size: .81rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .brain-mob .p-mini{
        /*font-size: .7rem;*/
        text-align: center;
        display: block;
        margin:1rem auto;
        opacity: .6;
    }
    .bc{
        margin: 1rem auto;
    }
    .ref-img{
        position: relative;
    }
    .cuadros{
        position: relative;
        /*border-style: solid;*/
        height: 70vw;
        position: absolute;
        width: 100%;
        bottom: 0%;
    }
    .cuadroe{
        /*border-style: solid;*/
        width: 20vw;
        height: 20vw;
        position: absolute;
        cursor: pointer;
    }
    /*.cuadroe:hover{
        border: 2px solid #fff;
        border-radius: 12px;
    }*/
    .cuadroe.miedo{
        bottom: 55%;
        left: 10%;
    }
    .cuadroe.sorpresa{
        bottom: 55%;
        left: 39.5%;
    }
    .cuadroe.ira{
        bottom: 55%;
        left: 69.5%;
    }
    .cuadroe.disgusto{
        bottom:  8%;
        left: 10%;
    }
    .cuadroe.tristeza{
        bottom:  8%;
        left: 39.5%;
    }
    .cuadroe.felicidad{
        bottom:  8%;
        left: 69.5%;
    }
    .bc-sorpresa,.bc-ira,.bc-disgusto,.bc-tristeza,.bc-felicidad{
        display: none;
    }

/* como leer */
    .como-mob{
        padding: 15% 0;
        text-align: center;
        min-height: calc(95vh - 70px);
        background-color: var(--grise6);
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        text-align: center;
    }
    .como1, .como2, .como3{
        margin: 2rem 0;
    }
    .como-mob h3{
        font-family: 'circularstdblack', sans-serif;
        font-size: .81rem;
        max-width: 70%;
        display: block;
        margin: auto;
        letter-spacing: 2px;
    }
    .como1 img, .como3 img{
        width: 45%;
        margin-bottom: 1rem;
    }
    .como2 img{
        width: 80%;
        margin-bottom: 2rem;
        max-width: 800px;
    }
    

/* emociones */
    .div-blanca{
        background-color: var(--grise6);
    }
    .emociones-mob{
        padding: 15% 0;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        background-color: var(--moradof);
        position: relative;
        min-height: calc(90vh - 90px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;
        overflow: hidden;
    }
    .emociones-mob .titulo-seccion{
        margin: 2rem 0;
    }
    .emociones-mob-fondo{
        position: absolute;
        top: 0;
        left: -80%;
        width: 300%;
        opacity: .5;
    }
    .carousel-em .carousel-inner{
        padding: 5% 15%;
    }
    .carousel-em .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        background-image: url('../img/next.png');
    }
    .carousel-em .carousel-control-prev-icon{
        width: 40px;
        height: 40px;
        background-image: url('../img/prev.png');
    }
    .em-img{
        border-style: solid;
        border-radius: 1rem;
        padding: 10%;
        background-color: var(--moradof);
    }
    .carousel-em .carousel-inner p{
        font-size: 1rem;
        text-align: center;
        margin-top: 15%;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .carousel-em .carousel-inner .carousel-item a{
        text-decoration: none;
        color: #fff;
    }

/* roadmap */

    .roadmap{
        background-color: #fff;
        color: #000;
        
    }
    .roadmap-mob{
        padding: 10% 0% 0;
    }
    .roadmap-mob img{
        width: 100vw;
        display: block;
        margin: auto;
        margin-top: 1rem;
        max-width: 700px;

    }

    /* timeline */

/* faq */
    
    .faq{
        background-color: var(--moradoc);
        padding: 10% 10%;
        min-height: calc(90vh - 90px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .faq .titulo-seccion{
        text-align: center;
        margin: 2rem 0;
    }
    .faq details{
        margin: 1rem 0;
    }
    .faq details div {
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 1.5rem;
        padding-top: .5rem;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        color: rgba(255, 255, 255, .5);
        line-height: 1.4;
        /*font-size: .81rem;*/
    }
    .faq details div > * + * {
        margin-top: 1.5em;
    }

    .faq details + details {
        margin-top: .5rem;
    }

    .faq summary {
        list-style: none;
    }

    .faq summary::-webkit-details-marker {
        display: none;
    }

    .faq summary {
        border-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: 2px solid #fff;
        padding: 1.2rem 1.5rem;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        font-size: .8rem;
        padding-right: 14%;
    }

    .faq summary:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .75rem;
        content: "↓";
        width: 1.75rem;
        height: 1.75rem;
        /*background-color: #000;*/
        color: #FFF;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 50%;
        border: 1px solid #fff;
    }

    .faq details[open] summary {
        background-color: transparent;
        border-bottom: none;
    }

    .faq details[open] summary:before {
        content: "↑";
    }

    .faq summary:hover {
        background-color: transparent;
    }

    .faq a {
        color: inherit;
        font-weight: 600;
        text-decoration: none;
        box-shadow: 0 1px 0 0;
    }

    .faq a:hover {
        box-shadow: 0 3px 0 0;
    }

    .faq code {
        font-family: monospace;
        font-weight: 600;
    }
    #flecha-faq-desk{
        width: 38%;
        position: absolute;
        top: 0;
        left: 11.4%;
    }
    #flecha-faq-mob{
        width: 10px;
        position: absolute;
        top: 0;
        left: 48%;
    }

/* team */

    .team {
        padding: 30% 5%;
        background-color: var(--moradof);
    }
    .team-fotos{
        display: flex;
        margin: 15% 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .team-fotos .foto img{
        width: 94%;
    }
    .team-fotos .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        margin: 0 1%;
    }
    .team-fotos .nombre{
        background-color: #fff;
        color: var(--moradof);
        text-transform: uppercase;
        font-family: 'grotesk', sans-serif;
        width: 90px;
        text-align: center;
        border-radius: 6px;
        padding: 4px 0;
        position: relative;
        bottom: 2.5rem;
        letter-spacing: 1px;
    }
    .puesto{
        text-transform: uppercase;
        text-align: center;
        position: relative;
        bottom: 1rem;
        font-size: .5rem;
    }
    .team-redes{
        width: 200px;
        /*border-style: solid;*/
        display: block;
        text-align: center;
        margin: 15% auto;
    }
    .team-redes a{
        margin: 0 .8rem;
        transition: all .3s ease;
    }
    .team-redes a:hover{
        opacity: .6;
    }
    .team-redes img{
        width: 30px;
    }

    